<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body,html {
	background-image: url("https://storage.needpix.com/rsynced_images/heart-2176218_1280.png");
        background-repeat:no-repeat;
       	background-size:cover;
	height: 100%;
	width: 100%;
 	background-position: center;
  	margin: 0;
} 

h1{
color:#191970;
font-family:Cooper Black;
}

.ill{
  vertical-align: middle;
  width: 180px;
  height: 180px;
}
input[type='button'] {
    	background: green;
    	color: White;
    	border: 3px solid #green;
	text-align: Right;
}
<br><br>
</style>
<br>
<center>
<br><br><br><br>
<img src="https://i.pinimg.com/originals/91/d6/ff/91d6ffa8b5af1a2dcbc0f87155c165cf.jpg" 
alt="ill" class="ill" height="120" width="120" >
<br>
<h1>CELLS ARE INFECTED !</h1>
<h1>MALARIA FOUND !</h1>
<input type=button onClick="location.href='C:\Users\HP\Desktop\symptoms.html'" value='Click here to know the symptoms of Malaria'>
</center>
</html>