<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body,html {
	background-image: url("https://storage.needpix.com/rsynced_images/heart-2176218_1280.png");
        background-repeat:no-repeat;
       	background-size:cover;
	height: 100%;
	width: 100%;
 	background-position: center;
  	margin: 0;
} 

h1{
color:#191970;
font-family:Cooper Black;
}

.smile{
  vertical-align: middle;
  width: 200px;
  height: 200px; 
}

</style>
<center>
<br><br><br><br>
<img src="https://i.pinimg.com/originals/08/f2/b5/08f2b500d9bb9e17b49fc65581080595.jpg" 
alt="smile" class="smile" height="90" width="90" >
<br><br>
<h1>EVERYTHING IS FINE !</h1>
<h1>YOUR CELLS ARE NOT INFECTED</h1>
</center>
</html>